<%- include('partials/header') %>
    <div id="home">
        <div class="sub-title">Hi, I'm Faraaz. Welcome to Musafir.</div>

        <div class="content">
            <p>
                I'm not your typical blogger. I'm a student pursuing Information Science and Engineering, but my true
                passion lies in <span class="span-txt">exploring the world</span>.
            </p>
            <p>
                You see, while most people are buried in textbooks, I prefer to be out on the open road. I have an
                insatiable wanderlust that constantly pulls me towards new destinations. Whether it's hopping on a plane
                or
                revving up my bike, I'm always ready for my next adventure.
            </p>
            <p>
                I absolutely adore traveling solo. There's something incredibly liberating about setting off on my own,
                with
                nothing but a map and a heart full of excitement. It's during these solo escapades that I truly find
                myself
                and <span class="span-txt">discover the hidden gems of the world</span>.
            </p>
            <p>
                I started <span class="span-txt">Musafir</span>, simply as a personal diary of my travel experiences. Traveling has become an integral
                part of my life, shaping who I am and the path I want to take. As I navigate through different state and
                cuisines, I realize that <span class="span-txt">food is my gateway</span> to connecting with people around the state.
            </p>
            <p>
                So, join me on this incredible journey. Let's explore the world together, one destination at a time.
                Musafir is not just a blog—it's a community built on curiosity, discovery, and the shared love for
                travel.
                Get ready for thrilling stories, useful travel tips, and plenty of laughs along the way.
            </p>
            <p>
                Remember, life is an adventure, and the world is waiting to be discovered. Let's embark on this
                incredible
                journey together. <span class="span-txt">Buckle up, fellow Musafirs, and let's explore the world in style!</span>
            </p>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <a href="/travel">
                        <img src="/home1.jpg" alt="home 1">
                    </a>
                    <div class="sub-title"><a class="link-txt" href="/places-to-visit">Places to visit</a></div>
                </div>
                <div class="col">
                    <a href="/best-route">
                        <img src="/home2.jpg" alt="">
                    </a>
                    <div class="sub-title"><a class="link-txt" href="/best-route">Best route</a></div>
                </div>
                <div class="col">
                    <a href="/activities">
                        <img src="/home3.jpeg" alt="">
                    </a>
                    <div class="sub-title"><a class="link-txt" href="/activities">Activities</a></div>
                </div>
            </div>
        </div>        
    </div>

<%- include('partials/footer') %>